*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
}


.filter{
    background-color: rgba(248, 167, 181, 0);
    display: flex;
    align-items: center;
    justify-content: space-around ;
}

.general-info{
    background-color: rgb(108, 57, 136);
}

.info-table{
    background-color: rgb(57, 149, 123);
    table{
        width: 100%;
        max-height: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        thead{
            background-color: aliceblue;
            th{
                border: 1px solid black;
            }
        }
        tbody{
            font-size: 20px;
            text-align: center  ;
            tr{
                td{
                    border: 1px solid black;
                    padding: 5px;
                    .button{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


.modal{
    background-color: white;
    position: absolute;
    width: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    border: 1px solid grey;
    .title{
        border-bottom: 1px solid black;
        padding: 15px;
    }
    .content{
        padding: 20px 15px ;
        border-bottom: 1px solid black;
    }
    .buttons{
        display: flex;
        justify-content: right ;
        padding: 15px;
        gap: 10px;
        button{
            padding: 10px 20px;
        }
    }
}

